body {
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    /* justify-content: center; Centrer horizontalement les éléments */
    align-items: center; /* Centrer verticalement les éléments */
}

/* CONTAINER */
.pricing-container {
    display: flex;
    justify-content: space-between ;
    width: 100%; /* occuper toute la largeur disponible */
    max-width: 1150; /* Limiter la largeur maximale [à changer plus tard] */
    margin: 0 auto; /* centrer le conteneur */
}

/* LES BOX */
.pricing-box {
    position: relative;
    width: 19%;
    background-color: #ffffff;
    border-radius: 8px; 
    padding: 68px;
    display: flex;
    flex-direction: column; 


    /* flex-grow : 0.5; [à tester plus tard]*/
}

/* LES BOX <h2> */
.pricing-box h2 {
    font-size: 24px;
    margin-bottom: 22px; /*Monter le titre*/
    margin-top: -45px;
    text-align: center;
}

/* LES BOX <p>*/
.pricing-box p {
    margin: 0;
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}

/* LES BOX <p> ETIQUETTES */
.pricing-box p .label {
    margin-right: 10px;
}

/* LES BOX <p> VALEURS */
.pricing-box p .value {
    text-align: right;
}

/* LE MOIS */
.month {
    font-size: 12px;
    color: #999;
}

/* LE PRIX [essayer une autre police d'écriture] */
.prix {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px; 
    font-weight: bolder; /* [Essayer plus gras] */
    color: rgb(64, 144, 248);  
    margin: 0 auto;
}

/*RÉDUCTION */
/*[Idée d'animation à ne pas oublier] */
.reduction {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(63, 134, 228);
    padding: 5px 10px;
    justify-content: center;
    text-align:left;
    border-radius: 0px 5px 0px 12px; /*Tout en douceur :) */
}

/* button join */
.join-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }

/* Symbole ✓ en vert */
.symbol-check {
    color: green;
  }
  
  /* Symbole × en rouge */
  .symbol-cross {
    color: red;
  }






