/* Container */
.pricing-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* Box de tarification */
.pricing-box {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.pricing-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.pricing-box p {
    font-size: 18px;
    margin-bottom: 15px;
}

.pricing-box .prix {
    font-size: 30px;
}

.pricing-box .month {
    font-size: 18px;
}

.pricing-box .reduction {
    font-size: 18px;
    color: red;
    margin-bottom: 10px;
}

/* Fonctionnalités */
.pricing-box .feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

/* Le mois */
.month {
    font-size: 12px;
    color: #999;
}

/* Le prix*/
.prix {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px; 
    font-weight: bolder; /* [Essayer plus gras] */
    color: rgb(64, 144, 248);  
    margin: 0 auto;
}

/* La réduction */
.pricing-box .reduction {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(63, 134, 228);
    padding: 5px 10px;
    text-align: left;
    border-radius: 0px 5px 0px 5px;
    margin-top: 10px;
}

/* Bouton "Join Now" */
.join-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

/* Formulaire newsletter */
.subscribe-container {
    text-align: center;
    margin-top: 20px;
}

.subscribe-container input[type="email"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.subscribe-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
